
ul { list-style: none; }
a { text-decoration: none; color: black;}

@media(max-width: 760px) {
    #site-container {
        width: 100%;
        padding: 0 10px;
    }
    .news-list-container {
        display: block;
    }
    .news-list-container li {
        width: 100%;
        padding-left: 0;
    }
    #banners h2 {
        width: 100%;
        font-size: 24px;
    }
    #banners .banner {
        width: auto;
        height: 495px;
    }
    #favorite-article-block > li:first-child {
        width: 100%;
    }
    #favorite-article-block > li {
        float: none;
    }
    #favorite-article-block .news-list {
        padding-left: 0;
    }
    .news-one {
        height: auto;
        padding-bottom: 20px;
    }
    #favorite-article-block h3 {
        padding-top: 20px;
    }
    #favorite-article-block .news-list li {
        padding: 10px;
    }
    #favorite-article-block > li {
        width: 100%;
    }
}

/** Accordion **/


body {
   /*font-family: 'Dosis', sans-serif;*/
}
#menu-wrapper {
    overflow: hidden;
    max-width: 100%;
    cursor: pointer;
}


#menu-wrapper #hamburger-menu {
    position: relative;
    width: 25px;
    height: 20px;
    margin: 15px;
}

#menu-wrapper #hamburger-menu span {
    opacity: 1;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    color: black;
    background-color: rgb(0, 0, 0);
    position: absolute;
    transform: rotate(0deg);
    transition: .4s ease-in-out;
}

#menu-wrapper #hamburger-menu span:nth-child(1) {
    top: 0;
}
#menu-wrapper #hamburger-menu span:nth-child(2) {
    top: 9px;
}
#menu-wrapper #hamburger-menu span:nth-child(3) {
    top: 18px;
}
#menu-wrapper #hamburger-menu.open span:nth-child(1) {
    transform: translateY(9px) rotate(135deg);
}
#menu-wrapper #hamburger-menu.open span:nth-child(2) {
    opacity: 0;
    transform: translateX(-60px);
}
#menu-wrapper #hamburger-menu.open span:nth-child(3) {
    transform: translateY(-9px) rotate(-135deg);
}

#menu-container .menu-list .menu-submenu {
    padding-top: 20px;
    padding-bottom: 20px;
}
#menu-container .menu-list {
    padding-left: 0;
    display: block;
    position: absolute;
    width: 100%;
    max-width: 450px;
    background: white;
    box-shadow: rgba(100,100,100,0.2) 6px 2px 10px;
    z-index: 999;
    overflow-y: auto;
    overflow-x: hidden;
    left: -100%;
}

#menu-container .menu-list li.accordion-toggle, #menu-container .menu-list .menu-login {
    font-size: 16px;
    padding: 20px;
    text-transform: uppercase;
    border-top: 1px solid #dbdcd2;
}
#menu-container .menu-list li:first-of-type {
    border-top: 0;
}

.accordion-toggle, .accordion-content {
    cursor: pointer;
    font-size: 16px;
    position: relative;
    letter-spacing: 1px;
}

.accordion-content {
    display: none;
}


.accordion-toggle a:before, .accordion-toggle a:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 30px;
    width: 15px;
    height: 2px;
    margin-top: -1px;
    background-color: #5a5858;
    transform-origin: 50% 50%;
    transition: all 0.3s ease-out;
}

.accordion-toggle a:before {
    transform: rotate(-90deg);
    opacity: 1;
    z-index: 2;
}

.accordion-toggle.active-tab {
  background: #82888f;
  transition: all 0.3s ease;
}
.accordion-toggle a.active:before {
    transform: rotate(0deg);
    background: #fff !important;
}

.accordion-toggle a.active:after {
    transform: rotate(180deg);
    background: #fff !important;
    opacity: 0;
}

#header .social, #search-icon{
    display: none;
}

#header{
    display: block;
}

nav{
    float: right;
    margin-top: 8px;
}
.menu-link{
    padding: 20px;
    display: block;
}